@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("images/f3.jpg");
        background-size: cover; /* Adjust to your preference */
        background-repeat: no-repeat; /* Adjust to your preference */
        background-attachment: fixed; /* Adjust to your preference */
    }

    /* Additional styles for your content */
    .text-center {
        text-align: center;
        margin-top: 200px;
        font-weight: bold;
        text-transform: uppercase;
        color: white; /* Adjust text color for readability */
    }

    button {
        background-color: white;
        color: black;
        font-family: Calibri;
        border: 1px solid #fff;
        padding: 5px 15px;
        text-decoration: none;
    }

</style>

<div class="text-center">
    <h1 class="display-4">"Change a Life, Donate with Love"</h1>
    <h2 style="font:7px;">Register Your Heart, Open Your Wallet</h2>
    
    <a href="/Identity/Account/Login" class="btn btn-primary" style="background-color: orange; border-color: orange;">Login</a>

    <a href="/Identity/Account/Register" class="btn btn-primary" style="background-color:orange; border-color:orange;">Register</a>
</div>
