@page
@model uBuntuSouthAfrica.Pages.Donates.GoodsDonateIndexModel
@{
}

<style>
    body {
        background-image: url('/images/f17.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

</style>

<br>
<h2 style="text-align: center; font-weight:bold; color:purple;">List of Goods Donations</h2>
<a class='btn  btn-sm' href="/Identity/Donates/AddGoods" style='background-color: orange; border-color:orange;'>Donate a Goodie</a>

<table class="table" style="background-color: white;">
    <thead>
        <tr>
            <th>Donor </th>
            <th>Number Of Items</th>
            <th>Category</th>
            <th>Item Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listDonate)
        {
            <tr>
                <td>@item.DonorName</td>
                <td>@item.NumberOfItems</td>
                <td>@item.Category</td>
                <td>@item.ItemDescription</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Identity/Donates/EditGoods?id=@item.id" style="background-color:orange; border-color:orange;">Edit</a>
                </td>
                

            </tr>
        }
    </tbody>
</table>
